body{
    font-size: 50px;
    background-color: cadetblue;
}

header{
    background-color: blueviolet;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}